header{
    color: #dc0b3f;
    padding: 5px;
}
nav ul {    
    list-style: none;    
    display: flex;    
    justify-content: space-around;  
    font-weight: bold;
    text-shadow: 1px 1px gray;
}    
nav a {    
    text-decoration: none;    
    color: #040203;
    
}
body {
    background-color: #FFC0D9;
    font-family: Arial, sans-serif;    
    margin: 5px;    
    padding: 5px;
}
.images {
    float: left;
    width: 320px;
    size: 600px;
    height: auto;
    margin: 17px;

}
#one{
    background-color: #ff8989;
    display: flex;
    flex-direction: row;
    margin: 20px;  
    text-align: center;  
    padding: 20px;
    justify-content: center;
    
}
#two{
    background-color: #FCAEAE;
    display: flex;
    flex-direction: row;
    margin: 20px;    
    text-align: center;    
    padding: 20px;
}
#three{
    background-color: #FFEADD;
    display: flex;
    flex-direction: row;
    margin: 20px;    
    text-align: center;    
    padding: 20px;
}
.CountriesList{
    text-align: left; 

}
#four{
    background-color: #e19fb6;  
    justify-content: center; 
    display: flex;
    flex-direction: column; 
}
.container{    
    background-color: #e19fb6b5;  
    justify-content: center; 
    display: flex;
    flex-direction: row; }
.card{

    float: left;
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.images2{
    float: left;
    width: 100%;
    size: 100px;
    height: 140px;
    margin: 10px;
}
.footer{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbdrbPAjxyxIq14YaOOCtb9dlXvZfUhwe8aQ&usqp=CAU');
    background-attachment: fixed;
    background-position: center; 
   
}
.foot{
    font-weight: bold;
    text-shadow: 0.75px 0.75px #971f1f;
    font-size: 20px;
    padding: 5px;
}
